<div class="noprint">
    <ul class="menu">
        <li class="menu_element">
            <p>
                Справочники
            </p>
            <ul class="submenu">
                <li class="submenu_element consumer_dictionary_button">
                    <p>
                        Потребители
                    </p>
                </li>
                <li class="submenu_element ground_dictionary_button">
                    <p>
                        Участки
                    </p>
                </li>
                <li class="submenu_element meters_dictionary_button">
                    <p>
                        Счетчики
                    </p>
                </li>
                <li class="submenu_element services_dictionary_button">
                    <p>
                        Усуги
                    </p>
                </li>
            </ul>
        </li>
        <li class="menu_element">
            <p>
                Документы
            </p>
            <ul class="submenu">
                <li class="submenu_element pay_documents_button">
                    <p>
                        Оплаты
                    </p>
                </li>
                <li class="submenu_element service_documents_button">
                    <p>
                        Начисления услуг
                    </p>
                </li>
                <li class="submenu_element service_meter_documents_button">
                    <p>
                        Начисления услуг по счетчикам
                    </p>
                </li>
                <li class="submenu_element meters_documents_button">
                    <p>
                        Показания счетчиков
                    </p>
                </li>
                <li class="submenu_element tarifs_documents_button">
                    <p>
                        Тарифы
                    </p>
                </li>
            </ul>
        </li>
        <li class="menu_element">
            <p>
                Отчеты
            </p>
            <ul class="submenu">
                <li class="submenu_element main_report_button">
                    <p>
                        Основной отчет
                    </p>
                </li>
                <li class="submenu_element meters_report_button">
                    <p>
                        Отчет по счетчикам
                    </p>
                </li>
                <li class="submenu_element balance_report_button">
                    <p>
                        Баланс расчетов
                    </p>
                </li>
                <li class="submenu_element sms_report_button">
                    <p>
                        Отчет о смс
                    </p>
                </li>
                <li class="submenu_element invoice_report_button">
                    <p>
                        Квитанции
                    </p>
                </li>
                <li class="submenu_element meter_invoice_report_button">
                    <p>
                        Квитанции по счетчикам
                    </p>
                </li>
                <li class="submenu_element social_invoice_report_button">
                    <p>
                        Квитанции по общественным платежам
                    </p>
                </li>
            </ul>
        </li>
    </ul>
</div>