<ul class="table_row" data-id="{id}">
    <li>
        <input type="checkbox" name="checker">
    </li>
    <li>
        <div class="selectbox indexData" tabindex="-1"><input name="service" data-id="{serviceId}" data-type="service" value="{service}"><p class="selectbox-list-hide"></p></div>
    </li>
    <li>
        <input class="indexData" type="date" name="period" value="{period}">
    </li>
    <li>
        <input name="calcBase" value="{calcBase}" disabled>
    </li>
    <li>
        <input name="price" value="{price}" disabled>
    </li>
    <li>
        <input name="sum" value="{sum}">
    </li>
    <li>
        <input name="komment" value="{komment}">
    </li>
</ul>