<ul class="table_head">
    <li class="column_head">
    </li>
    <li class="column_head" data-name="service">
        {SERVICE_NAME_LANG}
    </li>
    <li class="column_head" data-name="meter">
        {METER_NUMBER_LANG}
    </li>
    <li class="column_head" data-name="date">
        {PERIOD_LANG}
    </li>
    <li class="column_head" data-name="startData">
        {START_VALUE_LANG}
    </li>
    <li class="column_head" data-name="endData">
        {END_VALUE_LANG}
    </li>
    <li class="column_head" data-name="price">
        {TARIF_LANG}
    </li>
    <li class="column_head" data-name="sum">
        {SUM_LANG}
    </li>
</ul>