<ul class="table_row" data-id="{id}">
    <li>
        <input type="checkbox" name="checker">
    </li>
    <li>
        <div class="selectbox indexData" tabindex="-1"><input name="service" data-id="{serviceId}" data-type="service" value="{service}"><p class="selectbox-list-hide"></p></div>
    </li>
    <li>
        <select class="indexData" data-id="{meterId}" name="meterId">{meterList}</select>
    </li>
    <li>
        <input class="indexData" type="date" name="date" value="{date}">
    </li>
    <li>
        <input name="startData" value="{startData}" disabled>
    </li>
    <li>
        <input name="endData" value="{endData}" disabled>
    </li>
    <li>
        <input name="price" value="{price}" disabled>
    </li>
    <li>
        <input name="sum" value="{sum}" disabled>
    </li>
</ul>