<div class="sheet">
    <ul>
        <button class="save_button">
        </button>
        <button class="cancel_button">
        </button>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {DOCUMENT_DATE_LANG}
            <input type="date" name="date" value="{date}">
        </li>
        <li class="card_cell">
            {OWNER_FULL_NAME_LANG}
            <div class="selectbox" tabindex="-1"><input name="kontragent" data-id="{kontragentId}" data-type="kontragent" value="{kontragent}"><p class="selectbox-list-hide"></p></div>
        </li>
    </ul>
    <ul class="card_row">
        <div class="table subtable">
            <ul class="button_panel">
                <button class="add_row_button">
                </button>
                <button class="delete_row_button">
                </button>
                <button class="autoset_button">
                </button>
            </ul>
            {table}
        </div>
    </ul>
</div>