<ul class="table_head">
    <li class="column_head">
    </li>
    <li class="column_head" data-name="service">
        {SERVICE_NAME_LANG}
    </li>
    <li class="column_head" data-name="period">
        {PERIOD_LANG}
    </li>
    <li class="column_head" data-name="calcBase">
        {SERVICE_CALC_BASE_LANG}
    </li>
    <li class="column_head" data-name="price">
        {TARIF_LANG}
    </li>
    <li class="column_head" data-name="sum">
        {SUM_LANG}
    </li>
    <li class="column_head" data-name="komment">
        {KOMMENT_LANG}
    </li>
</ul>