<div class="sheet">
    <ul>
        <button class="save_button">
        </button>
        <button class="cancel_button">
        </button>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {ACCOUNT_NUMBER_LANG}
            <input name="accNumber" value="{accNumber}">
        </li>
        <!--<li class="card_cell">
            {NUMBER_LANG}
            <input name="number" value="{number}">
        </li>-->
    </ul>
    <ul class="card_row">
        <div class="table">
            <ul class="table_head">
                <li class="column_head">
                    {NUMBER_LANG}
                </li>
                <li class="column_head">
                    {GROUND_LINE_LANG}
                </li>
                <li class="column_head">
                    {GROUND_NUMBER_LANG}
                </li>
            </ul>
            <ul class="table_row">
                <li>
                    <input type="hidden" name="id1" value="{id1}">
                    <input name="number1" value="{number1}">
                </li>
                <li>
                    <input name="line1" value="{line1}">
                </li>
                <li>
                    <input name="line_number1" value="{groundNumber1}">
                </li>
            </ul>
            <ul class="table_row">
                <li>
                    <input type="hidden" name="id2" value="{id2}">
                    <input name="number2" value="{number2}">
                </li>
                <li>
                    <input name="line2" value="{line2}">
                </li>
                <li>
                    <input name="line_number2" value="{groundNumber2}">
                </li>
            </ul>
            <ul class="table_row">
                <li>
                    <input type="hidden" name="id3" value="{id3}">
                    <input name="number3" value="{number3}">
                </li>
                <li>
                    <input name="line3" value="{line3}">
                </li>
                <li>
                    <input name="line_number3" value="{groundNumber3}">
                </li>
            </ul>
            <ul class="table_row">
                <li>
                    <input type="hidden" name="id4" value="{id4}">
                    <input name="number4" value="{number4}">
                </li>
                <li>
                    <input name="line4" value="{line4}">
                </li>
                <li>
                    <input name="line_number4" value="{groundNumber4}">
                </li>
            </ul>
            <ul class="table_row">
                <li>
                    <input type="hidden" name="id5" value="{id5}">
                    <input name="number5" value="{number5}">
                </li>
                <li>
                    <input name="line5" value="{line5}">
                </li>
                <li>
                    <input name="line_number5" value="{groundNumber5}">
                </li>
            </ul>
        </div>
        <!--<li class="card_cell">
            {GROUND_LINE_LANG}
            <input name="line" value="{line}">
        </li>
        <li class="card_cell">
            {GROUND_NUMBER_LANG}
            <input name="groundNumber" value="{groundNumber}">
        </li>-->
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {GROUND_AREA_LANG}
            <input name="area" value="{area}">
        </li>
        <li class="card_cell">
            {GROUND_FREE_AREA_LANG}
            <input name="freeArea" value="{freeArea}">
        </li>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {GROUND_COMMON_AREA_LANG}
            <input name="commonArea" value="{commonArea}">
        </li>
        <li class="card_cell">
            {GROUND_ALL_AREA_LANG}
            <input name="allArea" value="{allArea}" disabled>
        </li>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {OWNER_FULL_NAME_LANG}
            <div class="selectbox" tabindex="-1"><input name="owner" data-id="{kontragentId}" data-type="kontragent" value="{owner}"><p class="selectbox-list-hide"></p></div>
        </li>
    </ul>
</div>