<div class="sheet">
    <ul>
        <button class="save_button">
        </button>
        <button class="cancel_button">
        </button>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {ACCOUNT_NUMBER_LANG}
            <input name="accNumber" value="{accNumber}">
        </li>
        <li class="card_cell">
            {GROUND_LINE_LANG}
            <input name="line" value="{line}">
        </li>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {GROUND_NUMBER_LANG}
            <input name="groundNumber" value="{groundNumber}">
        </li>
        <li class="card_cell">
            {GROUND_AREA_LANG}
            <input name="area" value="{area}">
        </li>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {GROUND_FREE_AREA_LANG}
            <input name="freeArea" value="{freeArea}">
        </li>
        <li class="card_cell">
            {GROUND_COMMON_AREA_LANG}
            <input name="commonArea" value="{commonArea}">
        </li>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {GROUND_ALL_AREA_LANG}
            <input name="allArea" value="{allArea}">
        </li>
        <li class="card_cell">
            {OWNER_FULL_NAME_LANG}
            <input name="owner" value="{owner}">
        </li>
    </ul>
</div>