<div class="sheet">
    <ul>
        <button class="save_button">
        </button>
        <button class="cancel_button">
        </button>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {METER_NUMBER_LANG}
            <input name="number" value="{number}">
        </li>
        <li class="card_cell">
            {METER_TYPE_LANG}
            <input name="type" value="{type}">
        </li>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {METER_GROUND_OWNER_LANG}
            <input name="ground" value="{ground}">
        </li>
    </ul>
</div>