<div class="sheet">
    <ul>
        <button class="save_button">
        </button>
        <button class="cancel_button">
        </button>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {SERVICE_NAME_LANG}
            <input name="name" value="{name}">
        </li>
        <li class="card_cell">
            {SERVICE_TYPE_LANG}
            <select name="type">{type}</select>
        </li>
    </ul>
    <ul class="card_row">
        <li class="card_cell">
            {SERVICE_CALC_TYPE_BASE_LANG}
            <select name="subtype">{subtype}</select>
        </li>
    </ul>
</div>