.login_error {
    display: none;
    color: red;
    text-align: center;
}
ul.menu {
    background-color: lightgrey;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li:hover {
    float: left;
    position: relative;
}
ul.menu > li > p {
    margin: 0;
    display: block;
    padding: 10px;
    text-decoration: none;
}
ul.menu > li > p:hover {
    background-color: gray;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 100%;
    top: 37px;
    left: 0;
    padding-left: 0px;
    background-color: lightgray;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > p {
    display: block;
    padding: 10px;
    text-decoration: none;
}
ul.submenu > li > p:hover {
    text-decoration: underline;
    background-color: gray;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
li {
    display: inline-block;
}
li.menu_element {
    text-align: center;
    width: 33%;
}
button.add_button {
    width: 36px;
    height: 31px;
    background-image: url(img/add.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
button.add_row_button {
    width: 36px;
    height: 31px;
    background-image: url(img/add.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
button.autoset_button {
    height: 31px;
    width: 117px;
    background-image: url(img/autoset.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
button.edit_button {
    margin-left: 3px;
    width: 36px;
    height: 31px;
    background-image: url(img/edit.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
button.delete_button {
    margin-left: 3px;
    width: 36px;
    height: 31px;
    background-image: url(img/delete.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
button.delete_row_button {
    margin-left: 3px;
    width: 36px;
    height: 31px;
    background-image: url(img/delete.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
button.save_button {
    margin-left: 3px;
    width: 36px;
    height: 31px;
    background-image: url(img/save.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
button.cancel_button {
    margin-left: 3px;
    width: 36px;
    height: 31px;
    background-image: url(img/cancel.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 3px;
}
div.sheet {
    margin: 30px auto 30px auto;
    width: 70%;
    min-height: 90%;
    background-color: lightgray;
}
div.table {
    display: inline-block;
    border: 1px groove black;
}
div.table > ul {
    padding-left: 0px;
    display: table-row;
}
div.table > ul > li {
    border: 1px double #dadada;
    display: table-cell;
}
ul.table_head {
    background-color: #dadada;
    display: table-cell;
}
ul.table_row {
    background-color: white;
}
div.subtable {
    display: inline-block;
    border: 1px groove black;
}
div.subtable > ul {
    padding-left: 0px;
    display: table-row;
}
div.subtable > ul > li {
    border: 1px double #dadada;
    display: table-cell;
}
ul.subtable_head {
    background-color: #dadada;
    display: table-cell;
}
ul.subtable_row {
    background-color: white;
}
ul.table_row.active{
    background-color: blue;
}
img.order_image {
    width: 20px;
    height: 12px;
}
ul.card_row {
    padding-top: 10px;
}
li.card_cell {
    width: 50%;
    font-weight: bold;
}
li.card_cell_full {
    width: 100%;
    font-weight: bold;
}
li.card_cell > input {
    margin-left: 20px;
}
li.card_cell > select {
    margin-left: 20px;
}
li.card_cell_full > input {
    margin-left: 20px;
}
li.card_cell_full > select {
    margin-left: 20px;
}
div.selectbox {
    display: inline-table;
    margin-left: 20px;
}
p.selectbox-list {
    display: table-row;
    background-color: white;
}
p.selectbox-list-hide {
    display: none;
}
button.paginator-button {
    margin-right: 5px;
}
button.paginator-button.active {
    font-weight: bold;
}
div.table > ul.button_panel {
    display: block;
}